header,footer {
    font-family: 'Reenie Beanie', cursive;
    
}

.col h1{
    text-decoration: none;
}

body{
    overflow-x: hidden;
 }

.accordion,.list-group {
    font-family: 'Gloria Hallelujah', cursive;
}

.accordion span {
    font-family: 'Gloria Hallelujah', cursive;
}

.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.aside-home li:hover {
    background: #6495ED;
    color: white;
}

.card-header h3 , span {
    font-family: 'Gloria Hallelujah', cursive;
}

.card-body , .card-footer{
    font-family: 'Gloria Hallelujah', cursive;
}



@media screen and (min-width: 786px){
    header h1 {
        font-size: 6rem;
    }
    footer h4 {
        font-size: 4rem;
    }

    footer span {
        color: #fff;
    }
}

