header,footer {
    font-family: 'Reenie Beanie', cursive;
}

.accordion, .card-body {
    font-family: 'Gloria Hallelujah', cursive;
}

.accordion span {
    font-family: 'Gloria Hallelujah', cursive;
}

.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.aside-home li:hover {
    background: #6495ED;
    color: white;
}

.overflow-x-hidden {
    overflow-x: hidden;
}


@media screen and (min-width: 786px){
    header h1 {
        font-size: 6rem;
    }
    footer h4 {
        font-size: 4rem;
    }

    footer span {
        color: #fff;
    }
}