header , footer {
    font-family: 'Reenie Beanie', cursive;
}
.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

::-webkit-scrollbar {
    display: none;
}

input[type=text],input[type=time],input[type=email], input[type=password], #category{
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    
}

.container h5 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #6495ED;
}

.container .form-group label {
    font-family: 'Gloria Hallelujah', cursive;
    color: #6495ED;
    font-weight: bold;
    
}      

@media screen and (min-width: 786px){
    header h1 {
        font-size: 6rem;
    }

    footer h4 {
        font-size: 4rem;
    }

    footer span {
        color: #fff;
    }
   
}