header,footer {
    font-family: 'Reenie Beanie', cursive;
}

body{
    overflow-x: hidden;
 }

.accordion {
    font-family: 'Gloria Hallelujah', cursive;
}

.accordion span {
    font-family: 'Gloria Hallelujah', cursive;
}

.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.aside-home li:hover {
    background: #6495ED;
    color: white;
}

.card-header h3 , span {
    font-family: 'Gloria Hallelujah', cursive;
}

.card-body , .card-footer{
    font-family: 'Gloria Hallelujah', cursive;
}



@media screen and (min-width: 786px){
    header h1 {
        font-size: 6rem;
    }
    footer h4 {
        font-size: 4rem;
    }

    footer span {
        color: #fff;
    }
}

/* carrito */

/* CARRITO */
.container .card{
    font-family: 'Gloria Hallelujah', cursive;
}

.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}