header,footer,h2{
    font-family: 'Reenie Beanie', cursive;
}

body{
    overflow-x: hidden;
 }

.accordion ,h3, .table-responsive{
    font-family: 'Gloria Hallelujah', cursive;
}

.accordion span {
    font-family: 'Gloria Hallelujah', cursive;
}

.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.aside-home li:hover {
    background: #6495ED;
    color: white;
}

.card-header h3 , span {
    font-family: 'Gloria Hallelujah', cursive;
}

.card-body , .card-footer{
    font-family: 'Gloria Hallelujah', cursive;
}



@media screen and (min-width: 786px){
    header h1 {
        font-size: 6rem;
    }
    footer h4 {
        font-size: 4rem;
    }

    footer span {
        color: #fff;
    }
}

/* Detalle del pedido ------------*/
.page
{
	background: #fff;
	border-radius: 1em;
	margin-bottom: 30px;
	padding: 1em;
}
