<template>
    <div class="col-12 p-4 col-md-7 p-md-0">
        <div class="row">
            <div class="buscador col-12">
                <form>
                    <div class="align-items-center d-flex form-group justify-content-between">
                        <input v-model="model.search" class="form-control mr-3" type="text" name="search" placeholder="Introduce producto..." size="50">
                    </div>
                </form>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-4 pb-4" v-for="product in products" :key="product.id">
                        <div class="card flex-row mx-0">
                            <div class="col p-0">
                                <img :src="product.ruta" class="card-img-top" :alt="product.name">
                            </div>
                            <div class="card-body col text-center">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <a :href="`/product/${product.id}`" class="btn btn-light">Ver producto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</template>

<script>

    export default {

        data() {
            return {
                model: {
                    search: null
                },
                products: []
            }
        },

        watch: {
            'model.search': {
                handler: function(val) {
                    if (val && val.length > 3) {
                        this.makeRequestGetProducts();
                    } else {
                        this.products = [];
                    }
                },
            }
        },

        methods: {
            makeRequestGetProducts() {
                axios.get(`/api/search/`, {
                    params: {
                        search: this.model.search
                    }
                })
                .then(({data}) => {
                    // handle success
                    console.log(data);
                    this.products = data.data;
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .finally(function () {
                    // always executed
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
.card-img-top {
    width: 150px;
    height: 150px;
}
</style>